/*Sort Icons*/

.k-grid-header .k-link > .k-icon {
    vertical-align: text-top;
}
.k-grid-header .k-header .k-icon {
    position: static;
}
.k-icon, .k-tool-icon, .k-grouping-dropclue, .k-drop-hint, .k-callout, .k-progress, .k-progress-status, .k-column-menu .k-sprite{
    background-image: url("/content/images/sprite.png");
}
.k-arrow-up, .k-i-arrow-n {
    background-position: 0 0;
}
.k-arrow-down, .k-i-arrow-s {
    background-position: 0 -32px;
}
.k-add {
    background-position: 0 -32px;
}
.k-remove {
    background-position: -32px -48px;
}
.k-download {
    background-position: -96px -208px
}
.k-preview {
    background-position: -96px -192px
}

.k-filter {
    background-position: -32px -80px;
}
.k-state-active, .k-state-active:hover, .k-active-filter {
    background-color: white;
    border-color: #333
}
.k-filter-menu{
    background-color: azure;
    border:#eee 1px solid
}

.k-icon, .k-sprite, .k-editor-button .k-tool-icon {
    background-color: transparent;
    background-repeat: no-repeat;
    display: inline-block;
    font-size: 0;
    height: 16px;
    line-height: 0;
    overflow: hidden;
    text-align: center;
    text-indent: -3333px;
    width: 16px;
}

/*Footer*/
.k-pager-wrap {
    padding-top:5px;
}
.k-pager-info{
    padding-top:2px;
    display:block;
}
.k-grid-pager {
    display: table;
    width: 100%;
}
.k-pager {
    float: right;
}
.k-pager-numbers, .k-pager-numbers.k-reset > li{
    float: left;
    margin: 0;
    padding: 0
}
.k-pager-numbers .k-state-selected{
    padding:0 4px;
    background-color:#F1FFFF;
    border: solid 1px #D7D7D7;
}
.k-state-active {
    border: solid 1px #333;
    padding: 0 4px;
}
.k-link {
    padding: 0 5px;
    color: #696969;
    float:left;
}
.k-pager li {
    display: inline-block;
}

.k-close, .k-i-close {
    background-position: -32px -16px;
}

.k-delete {
    background-position: -32px -16px;
}

.k-grid-add, .k-grid-save-changes, .k-grid-cancel-changes{
    visibility:hidden
}

.k-add {
}

.k-update {
}
.k-cancel {
}

.k-i-seek-w {
    background-position: 0 -112px;
}
.k-i-arrow-w {
background-position: 0 -48px;
}

.k-i-arrow-e {
    background-position: 0 -16px;
}

.k-i-seek-e {
    background-position: 0 -80px;
}

.k-drop-hint {
    background-position: 0 -326px;
}

.k-i-collapse, .k-minus, .k-minus-disabled {
    background-position: 0 -226px;
}
.k-i-expand, .k-plus, .k-plus-disabled {
    background-position: 0 -192px;
}

.k-treeview .k-item{
    padding: 0 0 0 16px;
    white-space:nowrap;
}
.k-treeview .k-in{
    padding:2px 4px 2px 3px;
}
.k-state-hover{
    background-color:#F1FFFF;
}

.k-i-cancel, .k-cancel, .k-denied {
    background-position: -32px -48px;
}
.k-i-plus, .k-add {
    background-position: -32px -64px;
}
.k-i-insert-n, .k-insert-top {
    background-position: -96px -32px;
}
.k-i-insert-m, .k-insert-middle {
    background-position: -96px -48px;
}
.k-i-insert-s, .k-insert-bottom {
    background-position: -96px -64px;
}

.k-treeview .k-state-selected{
background-color:#F1FFFF;
border: solid 1px #D7D7D7;
padding:1px 3px 1px 2px;
}

.k-grid .k-focusable .k-state-selected{
    background-color:#F1FFFF;
}

.treeviewNoSelect .k-treeview .k-state-selected, .treeviewNoSelect .k-treeview .k-state-hover
{
    background-color:#fff;
    border-color: transparent;
}

.k-grid .k-selectable{
    cursor:pointer;
}

.k-grid .k-focusable .k-state-selected, .k-grid .k-state-selected{
    background-color:#F1FFFF;
    color:#222;
}

.k-drag-clue {
    background-color:#FFF;
    border-style: solid;
    border-width: 1px;
    cursor: default;
    font-size: 0.9em;
    padding: 0.2em 0.4em;
    position: absolute;
    white-space: nowrap;
    z-index: 10003;
}

.k-treeview .k-drop-hint {
    background-color: transparent;
    background-repeat: no-repeat;
    height: 5px;
    margin-top: -3px;
    position: absolute;
    visibility: hidden;
    width: 80px;
    z-index: 10000;
}

.k-treeview{
cursor:default;
}

/*.k-drag-status {
    margin-right: 4px;
    margin-top: -3px;
    vertical-align: middle;
}*/

.k-grouping-dropclue {
    background-position: -165px -148px;
    background-repeat: no-repeat;
    height: 25px;
    position: absolute;
    width: 6px;
}

.k-loading-text
{
    display: none;
}
.k-loading-mask .k-loading-image 
{
    background: url("/content/images/Icon-Loading.gif") no-repeat;
    position: fixed;
    left: 50%;
    margin-left: -24px;
    top: 50%;
    margin-top: -24px;
    width: 48px;
    height: 48px;
}

/* buttons */
.k-grid input[type="button"], .k-grid input[type="submit"]
{
    padding: 0;
}

/* KENDO WINDOW
----------------------------------------------------------*/

div.k-window {
    display: inline-block;
    position: absolute;
    z-index: 10002;
}
.k-content-frame + .k-overlay {
    opacity: 0;
    position: absolute;
}
.k-overlay {
    background-color: #000000;
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10001;
}
.k-window .k-overlay {
    background-color: #FFFFFF;
    height: 100%;
    opacity: 0;
    position: absolute;
    width: 100%;
}
.k-widget {
    /*background-color: #fff;*/
}
.k-window-actions {
    float: right
}
.k-window-titlebar {
    padding: 10px 5px;
    background-color: #f1f1f1;
}
.k-window-titlebar .k-window-title {
    color: #000;
    font-size: 1.5em;
}

/* KENDO AUTOCOMPLETE
----------------------------------------------------------*/

.k-list-container
{
    background-color:#fff;
    border: 1px solid #ddd
}
.k-list-container .k-list
{
    list-style: none outside none;
    padding:0;
    /*margin: 0 50px 0 5px;*/
    padding: 0 5px;
}


/* KENDO DATEPICKER
----------------------------------------------------------*/

.k-i-calendar{
    background-position: -32px -176px;
}
.k-datepicker{
    width: 200px;
    display:inline-block;
    white-space:nowrap;
}
.k-picker-wrap{
    display:block;
}
.k-datepicker .k-state-active{
    padding:0;
    border:none;
}
.k-calendar{
    float:left;
}
.k-state-disabled, .k-state-disabled:hover{
    text-decoration:none
}

/* treeview icon styles */
.treeview-HasChildren,.treeview-EmptyFolder,.treeview-ActiveClient, .treeview-ArchiveClient{
    display:inline-block;
    height:16px;
    width:16px;
    margin-right:5px;
}

.treeview-HasChildren,.treeview-EmptyFolder{
    background-image:url('/content/images/sprite-files.png');
}
.treeview-ActiveClient, .treeview-ArchiveClient{
    background-image:url('/content/images/sprite-Organization.png');
}
.treeview-ActiveClient{
    background-position:0 0px;
}
.treeview-ArchiveClient{
    background-position:0 -16px;
}
.treeview-EmptyFolder{
background-position:0 64px;
}
.k-treeview .k-plus, .k-treeview .k-minus, .k-treeview .k-plus-disabled, .k-treeview .k-minus-disabled{
    margin-left:-16px
}

/* KENDO DROPDOWN
----------------------------------------------------------*/

.k-dropdown-wrap .k-input, .k-selectbox .k-input
{
    border: solid 1px #DBDFE6;
    border-top: solid 1px #ABADB3;
    padding: 0;
    line-height: auto;
    min-height: inherit;
    box-shadow: none;
    font-family: MS Shell Dlg;
    font-size: 1em;
    height: 20px;
}
.k-dropdown .k-dropdown-wrap{
    border: 1px solid #ABADB3;
    width:205px;
    display:table;
}
.k-dropdown-wrap .k-input, .k-dropdown-wrap .k-select{
    display:table-cell
}
.k-dropdown-wrap .k-input{
    padding-left: 5px;
}
.k-dropdown-wrap .k-select{
    width:16px;
}
.k-dropdown .k-state-active{
padding: 0;
}
.k-tooltip{
    white-space:nowrap
}


